<% if @owned_car.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@owned_car.errors.count, "error") %>
      prohibited this car from being saved:
    </h2>

    <ul>
    <% @owned_car.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @owned_car do |f| %>

  <%= f.label :car_model_id %>
  <%= f.collection_select :car_model_id, CarModel.all, :id, :car_name %><br>
  <br>
  <%= f.label :year %>
  <%= f.text_field :year %><br>
  <br>
  <%= f.label :color %>
  <%= f.text_field :color %><br>
  <br>
  <%= f.label :price_per_day %>
  <%= f.text_field :price_per_day %><br>
  <br>
  <%= f.label :city %>
  <%= f.text_field :city %><br>
  <br>
  <%= f.hidden_field :user_id, value: session[:user_id] %>
  <%= f.submit %>
<% end %>
