<div class="pad-left">
  <h2><%= @owned_car.car_full_name %></h2>
  Color: <%= @owned_car.color %><br>
  <br>
  | added by <%= @owned_car.user.name %><br>
  <br>
  Location: <%= @owned_car.city %><br>
  <br>
  Rental Price: $<%= @owned_car.price_per_day %> / day<br>
  <br>
  BOOK BELOW NOW!<br>
  <br>
  <%= render "bookings/form" %>
</div>
