<h1>Show Owned Car</h1>

Car Name: <%= @owned_car.car_full_name_with_price %> | <b>added by<%= @owned_car.user.name %></b><br>
Color: <%= @owned_car.color %><br>
<br>
<%= button_to "Edit", edit_owned_car_path(@owned_car), method: :get %>
<%= button_to "Delete Owned Car", @owned_car, method: :delete %>
