<h1>Show Owned Car</h1>

<b>Car Name: <%= @owned_car.car_full_name_with_price %></b>
<br>
<b>Color: <%= @owned_car.color %><br></b>
<br> | added by <%= @owned_car.user.name %><br>
<br>
<%= button_to "Edit Owned Car", edit_owned_car_path(@owned_car), method: :get %>
<br>
<%= button_to "Delete Owned Car", @owned_car, method: :delete %>

<%= render "bookings/form" %>
