<h1>Show Booking</h1>

<%= @review.star_rating  %><br>
<%= @review.description  %><br>
<%= @review.booking.booking_time %> <%= @review.booking.car_model.brand %> <%= @review.booking.car_model.model %><br>
<%= @review.user.name %><br>
