<h1 align="center"><%= @user.name %> Home Page</h1>

<b>Age: </b><%= @user.age %><br>
<br>
<b>Driver ID: </b><%= @user.driver_id %><br>
<br>
<b>Address: </b><%= @user.address %><br>
<br>
<b>Email: </b><%= @user.email %><br>
<br>
<%= button_to "Edit My Account", edit_user_path(@user), method: :get %>
<%= button_to "Delete My Account", @user, method: :delete %>
<br>
<b>Owned Cars: </b>
<ul>
<% @user.owned_cars.each do |car| %>
  <li><%= link_to car.car_full_name, car %>
<% end %>
</ul>

<%#Add car to EV Share App Inventory!%>
<%#(add a button to send to add owned_car form)%>
<%= button_to "Create Owned Car", new_owned_car_path, :method => :get  %>

<b>Requested EV Share App Cars:</b>
<ul>
<% @user.wish_list_cars.each do |wish| %>
  <li><%= link_to wish.car_model.car_name, wish %>
<% end %>
</ul>
<b>Upcoming Bookings: </b>
<ol>
<% @user.bookings.each do |booking| %>
  <li><%= booking.owned_car.car_full_name %>: <%= link_to booking.pickup_time, booking %>
<% end %>
</ol>
