<h1>Show Review</h1>

Booking Time:<%= @review.booking.booking_time  %><br>
Star: <%= @review.star_rating  %><br>
<%= @review.description  %><br>
<h3><%= @review.booking.owned_car.car_model.car_name %><h3>
<br> 
By <%= @review.user.name %><br>