<h2>Car Catalog</h2>

<% @car_models.each do |car| %>
    <br><%= image_tag car.image_url %></br>
    <br><%= link_to car.car_name, car%></br>

    Inventory :<br><%= car.inventory %></br>
    Avg Booking Rating :<%= car.avg_rating %></br>
<% end %>

<%= button_to "Create Car Model", new_car_model_path, :method => :get  %>
