<h2><%= @car_model.car_name %> Show</h2>

<div class="pad-left">
  Brand: <%= @car_model.brand %><br>
  <br>
  Model: <%= @car_model.model %><br>
  <br>
  Category: <%= @car_model.category %><br>
  <br>
  Description: <%= @car_model.description %><br>
  <%= image_tag @car_model.image_url, style: 'width:75vw;' %>
</div>
