<h2><%= @car_model.car_name %> Show</h2>

Brand: <%= @car_model.brand %><br>
<br>
Model: <%= @car_model.model %><br>
<br>
Description: <%= @car_model.description %><br>
<br>
Image_url: <%= @car_model.image_url %><br>
<br>
Image: <img src="<%= @car_model.image_url %>" alt = "<%= @car_model.image_url %>" >
