<!DOCTYPE html>
<html>
  <head>
    <title>EVShareApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <center><h1>EV Share App!!!</h1></center>
    <hr>
    <center><h3>Navigation</h3></center>
    <%= link_to "About", "about" %> <%= link_to "Car Index", car_models %>
    <hr>
    <%= yield %>
  </body>
</html>
