<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap" rel="stylesheet">
    <title>EVShareApp</title>
    <style>
    html {
  background:url("https://cdn.vox-cdn.com/thumbor/BRTRNXfEn6EjaZz-Nlfd3Jh_4pc=/1400x0/filters:no_upscale()/cdn.vox-cdn.com/uploads/chorus_asset/file/6455053/model-s-interior.0.jpg") no-repeat center center fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size: cover;
  }
    </style>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
h1,h2,h3,h4,h5,h6 {font-family: "Oswald"}
body {font-family: "Open Sans"}
</style>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <h1 align="left">EV Share</h1>
    <hr>
    <p align="right"><%= link_to "Welcome Page", "/", class: "nav-link" %> <%= link_to "About", about_path, class: "nav-link" %> <%= link_to "Car Index", car_models_path, class: "nav-link" %></p>
    <% if User.all.map{|user|user.id}.any?(session[:user_id])%>
      <p align="right">
        <%= link_to "Account Profile (#{current_user.name})", user_path(session[:user_id]), class: "nav-link" %><br>
        <%= link_to "Log-out", logout_path, method: :post, class: "nav-link" %>
      </p>
    <% else %>
      <p align="right"><%= link_to "Log-in", login_path, class: "nav-link" %></p>
    <% end %>
    <% if is_admin? %>
      <center><%= link_to "User Index", users_path %> <%= link_to "Booking Index", bookings_path %> <%= link_to "Owned Car Index", owned_cars_path %> <%= link_to "Wish List Index", wish_list_cars_path %> <%= link_to "Review Index", reviews_path %></center>
    <% end %>
    <hr>
    <%= yield %>
  </body>
</html>
