<!DOCTYPE html>
<html>
  <head>
    <title>EVShareApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <center><h1>EV Share App!!!</h1></center>
    <hr>
    <center><h3>Navigation</h3></center>
    <center>
      <% if session[:user_id] %>
        <%= User.find(session[:user_id]).name %> is logged in
      <% end %>
    </center>
    <p align="left"><%= link_to "Welcome Page", "/" %> <%= link_to "About", about_path %> <%= link_to "Car Index", car_models_path %></p>
    <p align="right"><%= link_to "Log-in", login_path %></p>
    <p align="right"><%= link_to "Log-out", logout_path %></p>
    <hr>
    <%= yield %>
  </body>
</html>
